@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: black;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-items a {
  margin: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  height: 100%;
}

h1{
  text-align: center;
  margin: 30px 0;
}

main main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

main main-content aside {
  background-color: black;
  color: white;
  height: 100%;
  padding: 3rem 0;
  width: 25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

main main-content section {
  flex: 1;
}

main main-content aside h5 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

#priceList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.priceListContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  padding: 0 20px;
}

.total{
  padding: 20px;
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalText{
  font-size: 24px;
  font-weight: 700;
}

#totalPrice{
  font-size: 24px;
  font-weight: 400;
}

#checkOutBtn{
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0 20px;
  flex: 1;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
}

section li {
  margin-bottom: 0.75rem;
}

section label {
  cursor: pointer;
  margin-left: 0.25rem;
}

main-content .items {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  gap: 1rem;
}

main-content .items .item {
  border: 1px solid black;
  width: 30%;
}

main-content .items .item img {
  max-width: 100%;
  margin: auto;
}

main-content .items .item .row {
  display: flex;
  justify-content: space-between;
}

main-content .items .item .info {
  padding: 1rem;
}

main-content .items .item button {
  width: 100%;
  border-radius: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
}


.noItem{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}